<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>

<div class="main">
  <h1>404</h1>
  <p>Bunday sahifa topilmadi iltimos qayta urinib ko'ring</p>
  <a href="/" class="go-back">Bosh sahifa</a>
</div>