<section class="main_full inner_page">
  <div class="container-fluid">
    <div class="row">
      <div class="full">
        <h3>About us</h3>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- about section -->
<section class="layout_padding section about_dottat">
  <div class="container">

  </div>
</section>